<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">
  <test thread-count="5" name="Smoke Testing">
    <classes>
      <class name="packagTest.Class5"/>
      <class name="packagTest.Class3"/>
      <class name="packagTest.Class4"/>
      <class name="packagTest.Class2"/>
      <class name="packagTest.TestNGClass1"/>
    </classes>
  </test> <!-- Smoke Testing -->
</suite> <!-- Smoke Suite -->
